@import "tailwindcss";

@theme inline {
  --color-brand-green: #10b981; /* Zangori / Yashil */
  --color-brand-red: #ef4444;   /* Qizil */
  --color-brand-dark: #064e3b;  /* To'q yashil */
  
  --radius-app: 2rem;
}

:root {
  --background: #fcfdfc;
  --foreground: #022c22;
}

/* Apple uslubidagi yumshoq animatsiyalar */
* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.glass-morphism {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
